.modal-ledger-accSystem {
    text-align: center;
    white-space: nowrap;
    
    .ant-modal {
      display: inline-block;
      vertical-align: middle;
      top: 0;
      text-align: left;
    }
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
    .add-buttons {
        padding-top: 10px;
        text-align: center;
        & > div {
            margin: 0 .5rem;
        }
    }
}

