.exchange-setting-main{
  width: 100%; 
  position: relative;
  .exchange-setting{
    height: 400px;
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-input-number-handler-wrap{
      display: none; 
    }
    .ant-input-number-lg { 
        width: 100%;
    }
    .exchange-title{
      width: 100%;
      padding-top: 20px;
      margin-bottom: 20px;
      .ant-row.ant-form-item{
        display: inline-block;
      } 
    }
  
    .ant-table-middle .ant-table-tbody > tr > td {
      padding: 10px 8px 0 8px;
      .ant-row { 
          height: 48px; 
      }
    } 
    
  }
  
  .steps-action{
    width: 100%; 
    text-align: right;
    div:nth-of-type(1){
      margin-right: 10px;
    }
  }
}
